includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/
        - config/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        -
            message: '#Called .env. outside of the config directory#'
            path: config/error-mailer.php
        
    excludePaths:
        - vendor/*
